NEXT_PUBLIC_SUPABASE_URL=https://anruvmeypudkrdvymsns.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFucnV2bWV5cHVka3Jkdnltc25zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5OTYxMTQsImV4cCI6MjEwMTU3MjExNH0._a8TJOC8WeJhf2Q8_GRIWvMetbWFFx5YHtbzgOfhhzs
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_15WYzIdFqGwwPvGEaCWPUw_NZaIW_Sz

# Solo para el servidor (NO publicar). Se configura en Vercel como variable secreta.
SUPABASE_SERVICE_ROLE_KEY=
